- Importing Data
- Displaying data
- Shapes
- info()
- basic statistics (describe)
- play with columns and rows
- indexing (fetching, changing)
- slicing

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/covidcases.csv")

In [3]:
df

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours,Transmission Classification
0,Global,NaN,109217366,1399.090694,2617711,33.533267,348150,2413912,30.922572,78334,1.00347,8251,NaN
1,United States of America,Americas,27433718,8288.070000,600892,181.540000,95902,482989,145.920000,21379,6.46000,1213,Community transmission
2,India,South-East Asia,10937320,792.560000,78949,5.720000,11610,155913,11.300000,661,0.05000,100,Clusters of cases
3,Brazil,Americas,9866710,4641.860000,318631,149.900000,32197,239773,112.800000,7603,3.58000,528,Community transmission
4,Russian Federation,Europe,4112151,2817.810000,99441,68.140000,12828,81446,55.810000,3312,2.27000,467,Clusters of cases
...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,Saint Helena,Africa,0,0.000000,0,0.000000,0,0,0.000000,0,0.00000,0,No cases
234,Tokelau,Western Pacific,0,0.000000,0,0.000000,0,0,0.000000,0,0.00000,0,No cases
235,Tonga,Western Pacific,0,0.000000,0,0.000000,0,0,0.000000,0,0.00000,0,No cases
236,Turkmenistan,Europe,0,0.000000,0,0.000000,0,0,0.000000,0,0.00000,0,No cases
237,Tuvalu,Western Pacific,0,0.000000,0,0.000000,0,0,0.000000,0,0.00000,0,No cases

In [4]:
df.head(70)

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours,Transmission Classification
0,Global,NaN,109217366,1399.090694,2617711,33.533267,348150,2413912,30.922572,78334,1.00347,8251,NaN
1,United States of America,Americas,27433718,8288.070000,600892,181.540000,95902,482989,145.920000,21379,6.46000,1213,Community transmission
2,India,South-East Asia,10937320,792.560000,78949,5.720000,11610,155913,11.300000,661,0.05000,100,Clusters of cases
3,Brazil,Americas,9866710,4641.860000,318631,149.900000,32197,239773,112.800000,7603,3.58000,528,Community transmission
4,Russian Federation,Europe,4112151,2817.810000,99441,68.140000,12828,81446,55.810000,3312,2.27000,467,Clusters of cases
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Greece,Europe,173905,1668.460000,7838,75.200000,1081,6181,59.300000,164,1.57000,29,Community transmission
66,Republic of Moldova,Europe,171514,4251.750000,5851,145.040000,965,3678,91.180000,105,2.60000,17,Community transmission
67,Armenia,Europe,169597,5723.360000,1101,37.160000,206,3155,106.470000,25,0.84000,5,Community transmission
68,Guatemala,Americas,168103,938.310000,4110,22.940000,720,6158,34.370000,203,1.13000,8,Community transmission
69,Honduras,Americas,160983,1625.330000,5248,52.990000,812,3893,39.300000,151,1.52000,27,Community transmission

In [5]:
df.tail(1)

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours,Transmission Classification
237,Tuvalu,Western Pacific,0,0.0,0,0.0,0,0,0.0,0,0.0,0,No cases

In [6]:
#pd.set_option('display.max_rows', 238)

In [7]:
df

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours,Transmission Classification
0,Global,NaN,109217366,1399.090694,2617711,33.533267,348150,2413912,30.922572,78334,1.00347,8251,NaN
1,United States of America,Americas,27433718,8288.070000,600892,181.540000,95902,482989,145.920000,21379,6.46000,1213,Community transmission
2,India,South-East Asia,10937320,792.560000,78949,5.720000,11610,155913,11.300000,661,0.05000,100,Clusters of cases
3,Brazil,Americas,9866710,4641.860000,318631,149.900000,32197,239773,112.800000,7603,3.58000,528,Community transmission
4,Russian Federation,Europe,4112151,2817.810000,99441,68.140000,12828,81446,55.810000,3312,2.27000,467,Clusters of cases
...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,Saint Helena,Africa,0,0.000000,0,0.000000,0,0,0.000000,0,0.00000,0,No cases
234,Tokelau,Western Pacific,0,0.000000,0,0.000000,0,0,0.000000,0,0.00000,0,No cases
235,Tonga,Western Pacific,0,0.000000,0,0.000000,0,0,0.000000,0,0.00000,0,No cases
236,Turkmenistan,Europe,0,0.000000,0,0.000000,0,0,0.000000,0,0.00000,0,No cases
237,Tuvalu,Western Pacific,0,0.000000,0,0.000000,0,0,0.000000,0,0.00000,0,No cases

In [8]:
df.shape

(238, 13)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 13 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Name                                                          238 non-null    object
 1   WHO Region                                                    237 non-null    object
 2   Cases - cumulative total                                      238 non-null    int64
 3   Cases - cumulative total per 100000 population                237 non-null    float64
 4   Cases - newly reported in last 7 days                         238 non-null    int64
 5   Cases - newly reported in last 7 days per 100000 population   237 non-null    float64
 6   Cases - newly reported in last 24 hours                       238 non-null    int64
 7   Deaths - cumulative total                                     238 non-null    int64
 8   Deaths - cumulative total per 100000 population               237 non-null    float64
 9   Deaths - newly reported in last 7 days                        238 non-null    int64
 10  Deaths - newly reported in last 7 days per 100000 population  237 non-null    float64
 11  Deaths - newly reported in last 24 hours                      238 non-null    int64
 12  Transmission Classification                                   237 non-null    object
dtypes: float64(4), int64(6), object(3)
memory usage: 24.3+ KB

In [10]:
df.describe()

,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours
count,2.380000e+02,237.000000,2.380000e+02,237.000000,238.000000,2.380000e+02,237.000000,238.000000,237.000000,238.000000
mean,9.177930e+05,2106.920087,2.199757e+04,68.794191,2925.630252,2.028497e+04,36.108956,658.268908,1.190521,69.336134
std,7.351324e+06,2614.276829,1.753208e+05,115.393958,23512.990228,1.609874e+05,50.189272,5310.390746,2.078901,546.982613
min,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,1.990500e+03,113.350000,3.600000e+01,1.210000,0.000000,2.225000e+01,0.980000,0.000000,0.000000,0.000000
50%,2.021800e+04,1022.330000,4.950000e+02,23.400000,35.500000,3.050000e+02,10.520000,8.000000,0.220000,1.000000
75%,1.979732e+05,3542.400000,5.721750e+03,86.220000,699.500000,3.232500e+03,56.450000,80.750000,1.570000,9.750000
max,1.092174e+08,13660.780000,2.617711e+06,949.360000,348150.000000,2.413912e+06,258.230000,78334.000000,14.400000,8251.000000

#### Columns

In [11]:
df.columns

Index(['Name', 'WHO Region', 'Cases - cumulative total',
       'Cases - cumulative total per 100000 population',
       'Cases - newly reported in last 7 days',
       'Cases - newly reported in last 7 days per 100000 population',
       'Cases - newly reported in last 24 hours', 'Deaths - cumulative total',
       'Deaths - cumulative total per 100000 population',
       'Deaths - newly reported in last 7 days',
       'Deaths - newly reported in last 7 days per 100000 population',
       'Deaths - newly reported in last 24 hours',
       'Transmission Classification'],
      dtype='object')

In [12]:
df[['Name', 'WHO Region', 'Cases - cumulative total']]

                         Name       WHO Region  Cases - cumulative total
0                      Global              NaN                 109217366
1    United States of America         Americas                  27433718
2                       India  South-East Asia                  10937320
3                      Brazil         Americas                   9866710
4          Russian Federation           Europe                   4112151
..                        ...              ...                       ...
233              Saint Helena           Africa                         0
234                   Tokelau  Western Pacific                         0
235                     Tonga  Western Pacific                         0
236              Turkmenistan           Europe                         0
237                    Tuvalu  Western Pacific                         0

[238 rows x 3 columns]

In [16]:
type(df.Name)

pandas.core.series.Series

In [15]:
type(df)

pandas.core.frame.DataFrame

In [17]:
df.Name

0                        Global
1      United States of America
2                         India
3                        Brazil
4            Russian Federation
                 ...
233                Saint Helena
234                     Tokelau
235                       Tonga
236                Turkmenistan
237                      Tuvalu
Name: Name, Length: 238, dtype: object

In [20]:
df["WHO Region"]

0                  NaN
1             Americas
2      South-East Asia
3             Americas
4               Europe
            ...
233             Africa
234    Western Pacific
235    Western Pacific
236             Europe
237    Western Pacific
Name: WHO Region, Length: 238, dtype: object

In [24]:
df.set_index('Name', inplace  = True)

In [25]:
df

,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours,Transmission Classification
Name,,,,,,,,,,,,
Global,NaN,109217366,1399.090694,2617711,33.533267,348150,2413912,30.922572,78334,1.00347,8251,NaN
United States of America,Americas,27433718,8288.070000,600892,181.540000,95902,482989,145.920000,21379,6.46000,1213,Community transmission
India,South-East Asia,10937320,792.560000,78949,5.720000,11610,155913,11.300000,661,0.05000,100,Clusters of cases
Brazil,Americas,9866710,4641.860000,318631,149.900000,32197,239773,112.800000,7603,3.58000,528,Community transmission
Russian Federation,Europe,4112151,2817.810000,99441,68.140000,12828,81446,55.810000,3312,2.27000,467,Clusters of cases
...,...,...,...,...,...,...,...,...,...,...,...,...
Saint Helena,Africa,0,0.000000,0,0.000000,0,0,0.000000,0,0.00000,0,No cases
Tokelau,Western Pacific,0,0.000000,0,0.000000,0,0,0.000000,0,0.00000,0,No cases
Tonga,Western Pacific,0,0.000000,0,0.000000,0,0,0.000000,0,0.00000,0,No cases
Turkmenistan,Europe,0,0.000000,0,0.000000,0,0,0.000000,0,0.00000,0,No cases
Tuvalu,Western Pacific,0,0.000000,0,0.000000,0,0,0.000000,0,0.00000,0,No cases

In [27]:
df = df[['WHO Region', 'Cases - cumulative total']]

In [28]:
df

                               WHO Region  Cases - cumulative total
Name
Global                                NaN                 109217366
United States of America         Americas                  27433718
India                     South-East Asia                  10937320
Brazil                           Americas                   9866710
Russian Federation                 Europe                   4112151
...                                   ...                       ...
Saint Helena                       Africa                         0
Tokelau                   Western Pacific                         0
Tonga                     Western Pacific                         0
Turkmenistan                       Europe                         0
Tuvalu                    Western Pacific                         0

[238 rows x 2 columns]

In [30]:
df.reset_index()

                         Name       WHO Region  Cases - cumulative total
0                      Global              NaN                 109217366
1    United States of America         Americas                  27433718
2                       India  South-East Asia                  10937320
3                      Brazil         Americas                   9866710
4          Russian Federation           Europe                   4112151
..                        ...              ...                       ...
233              Saint Helena           Africa                         0
234                   Tokelau  Western Pacific                         0
235                     Tonga  Western Pacific                         0
236              Turkmenistan           Europe                         0
237                    Tuvalu  Western Pacific                         0

[238 rows x 3 columns]