## 
- Indexing(fetching)
- slicing

### loc and iloc functions

In [4]:
import pandas as pd

In [6]:
df = pd.read_csv('data/covidcases.csv')
df

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours,Transmission Classification
0,Global,NaN,109217366,1399.090694,2617711,33.533267,348150,2413912,30.922572,78334,1.00347,8251,NaN
1,United States of America,Americas,27433718,8288.070000,600892,181.540000,95902,482989,145.920000,21379,6.46000,1213,Community transmission
2,India,South-East Asia,10937320,792.560000,78949,5.720000,11610,155913,11.300000,661,0.05000,100,Clusters of cases
3,Brazil,Americas,9866710,4641.860000,318631,149.900000,32197,239773,112.800000,7603,3.58000,528,Community transmission
4,Russian Federation,Europe,4112151,2817.810000,99441,68.140000,12828,81446,55.810000,3312,2.27000,467,Clusters of cases
...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,Saint Helena,Africa,0,0.000000,0,0.000000,0,0,0.000000,0,0.00000,0,No cases
234,Tokelau,Western Pacific,0,0.000000,0,0.000000,0,0,0.000000,0,0.00000,0,No cases
235,Tonga,Western Pacific,0,0.000000,0,0.000000,0,0,0.000000,0,0.00000,0,No cases
236,Turkmenistan,Europe,0,0.000000,0,0.000000,0,0,0.000000,0,0.00000,0,No cases
237,Tuvalu,Western Pacific,0,0.000000,0,0.000000,0,0,0.000000,0,0.00000,0,No cases

#### loc

rows , columns
index , columns name

#### list

In [7]:
df.loc[[2,4,8],['Name', 'WHO Region', 'Cases - cumulative total']]

                 Name       WHO Region  Cases - cumulative total
2               India  South-East Asia                  10937320
4  Russian Federation           Europe                   4112151
8               Italy           Europe                   2739591

#### slicing

In [9]:
df.loc[2:10,['Name', 'WHO Region', 'Cases - cumulative total']]

                  Name       WHO Region  Cases - cumulative total
2                India  South-East Asia                  10937320
3               Brazil         Americas                   9866710
4   Russian Federation           Europe                   4112151
5   The United Kingdom           Europe                   4058472
6               France           Europe                   3429726
7                Spain           Europe                   3096343
8                Italy           Europe                   2739591
9               Turkey           Europe                   2602034
10             Germany           Europe                   2350399

In [11]:
df.loc[2:10,'Name':'Cases - cumulative total']

                  Name       WHO Region  Cases - cumulative total
2                India  South-East Asia                  10937320
3               Brazil         Americas                   9866710
4   Russian Federation           Europe                   4112151
5   The United Kingdom           Europe                   4058472
6               France           Europe                   3429726
7                Spain           Europe                   3096343
8                Italy           Europe                   2739591
9               Turkey           Europe                   2602034
10             Germany           Europe                   2350399

In [14]:
df.loc[[2],['Name']]

    Name
2  India

### filtering

In [17]:
filt = df['WHO Region'] == 'Americas'
df.loc[filt, :]

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours,Transmission Classification
1,United States of America,Americas,27433718,8288.07,600892,181.54,95902,482989,145.92,21379,6.46,1213,Community transmission
3,Brazil,Americas,9866710,4641.86,318631,149.90,32197,239773,112.80,7603,3.58,528,Community transmission
11,Colombia,Americas,2198549,4320.80,37087,72.89,3510,57786,113.57,1496,2.94,181,Community transmission
12,Argentina,Americas,2029057,4489.48,43556,96.37,3259,50327,111.35,929,2.06,91,Community transmission
13,Mexico,Americas,1995892,1548.01,59879,46.44,3098,174657,135.46,7926,6.15,450,Community transmission
18,Peru,Americas,1238501,3756.24,47280,143.40,3203,43880,133.08,1413,4.29,177,Community transmission
22,Canada,Americas,826924,2190.98,18804,49.82,1139,21311,56.46,476,1.26,18,Community transmission
24,Chile,Americas,782039,4090.97,23850,124.76,2498,19644,102.76,560,2.93,20,Community transmission
43,Panama,Americas,332679,7710.24,5025,116.46,500,5642,130.76,136,3.15,6,Community transmission
48,Ecuador,Americas,268073,1519.43,8290,46.99,372,15392,87.24,306,1.73,37,Community transmission
52,Bolivia (Plurinational State of),Americas,237144,2031.56,7957,68.17,412,11234,96.24,370,3.17,32,Community transmission
55,Dominican Republic,Americas,231095,2130.32,6557,60.44,532,2975,27.42,111,1.02,16,Community transmission
59,Costa Rica,Americas,200024,3926.57,2589,50.82,182,2730,53.59,38,0.75,7,Community transmission
68,Guatemala,Americas,168103,938.31,4110,22.94,720,6158,34.37,203,1.13,8,Community transmission
69,Honduras,Americas,160983,1625.33,5248,52.99,812,3893,39.30,151,1.52,27,Community transmission
73,Paraguay,Americas,145095,2034.27,6150,86.22,1053,2953,41.40,107,1.50,17,Community transmission
76,Venezuela (Bolivarian Republic of),Americas,133577,469.75,2981,10.48,359,1285,4.52,45,0.16,6,Community transmission
83,Puerto Rico,Americas,98317,3436.63,1915,66.94,480,1924,67.25,31,1.08,4,Community transmission
97,El Salvador,Americas,58023,894.56,1370,21.12,0,1758,27.10,57,0.88,8,Community transmission
103,Uruguay,Americas,49360,1420.95,3710,106.80,451,541,15.57,44,1.27,6,Community transmission
105,Cuba,Americas,39941,352.63,5877,51.89,937,274,2.42,30,0.26,5,Community transmission
120,Jamaica,Americas,19773,667.74,2072,69.97,468,378,12.77,19,0.64,0,Community transmission
127,French Guiana,Americas,16456,5509.54,160,53.57,0,80,26.78,1,0.33,0,Community transmission
134,Haiti,Americas,12206,107.05,237,2.08,14,247,2.17,1,0.01,0,Community transmission
135,Belize,Americas,12175,3061.91,105,26.41,30,313,78.72,6,1.51,0,Community transmission
140,Guadeloupe,Americas,9455,2363.02,153,38.24,0,160,39.99,1,0.25,0,Community transmission
141,Suriname,Americas,8811,1501.96,121,20.63,8,167,28.47,5,0.85,1,Community transmission
143,Bahamas,Americas,8383,2131.76,92,23.40,7,179,45.52,3,0.76,0,Clusters of cases
145,Guyana,Americas,8232,1046.59,209,26.57,1,186,23.65,5,0.64,0,Clusters of cases
146,Trinidad and Tobago,Americas,7646,546.34,30,2.14,4,138,9.86,3,0.21,0,Community transmission
148,Aruba,Americas,7438,6966.64,200,187.33,25,68,63.69,4,3.75,0,Community transmission
149,Martinique,Americas,6593,1756.89,72,19.19,0,45,11.99,0,0.00,0,Community transmission
156,Nicaragua,Americas,5106,77.08,42,0.63,42,172,2.60,1,0.02,1,Community transmission
160,Curaçao,Americas,4652,2834.98,39,23.77,2,22,13.41,1,0.61,0,Community transmission
171,Saint Lucia,Americas,2549,1388.14,522,284.27,30,23,12.53,4,2.18,0,Community transmission
172,United States Virgin Islands,Americas,2542,2434.28,69,66.08,0,25,23.94,1,0.96,0,Community transmission
174,Barbados,Americas,2331,811.14,599,208.44,63,25,8.70,7,2.44,1,Community transmission
177,Sint Maarten,Americas,2001,4666.29,63,146.91,3,27,62.96,0,0.00,0,Community transmission
182,Turks and Caicos Islands,Americas,1874,4840.13,179,462.32,1,13,33.58,4,10.33,0,Clusters of cases
185,Saint Vincent and the Grenadines,Americas,1457,1313.32,133,119.88,4,6,5.41,2,1.80,0,Community transmission
186,Saint Martin,Americas,1456,3766.26,79,204.35,0,12,31.04,0,0.00,0,Community transmission
191,Bermuda,Americas,695,1116.05,1,1.61,0,12,19.27,0,0.00,0,Sporadic cases
196,Saint Barthélemy,Americas,475,4805.26,50,505.82,0,0,0.00,0,0.00,0,Sporadic cases
197,Antigua and Barbuda,Americas,443,452.37,127,129.69,16,9,9.19,1,1.02,0,Sporadic cases
199,Cayman Islands,Americas,419,637.55,11,16.74,3,2,3.04,0,0.00,0,Sporadic cases
200,Bonaire,Americas,378,1807.32,10,47.81,0,4,19.13,1,4.78,0,Community transmission
202,British Virgin Islands,Americas,153,506.00,12,39.69,0,1,3.31,0,0.00,0,Clusters of cases
203,Grenada,Americas,148,131.53,0,0.00,0,1,0.89,0,0.00,0,Sporadic cases
205,Dominica,Americas,134,186.13,13,18.06,0,0,0.00,0,0.00,0,Clusters of cases
209,Falkland Islands (Malvinas),Americas,49,1406.83,0,0.00,0,0,0.00,0,0.00,0,No cases
211,Saint Kitts and Nevis,Americas,41,77.08,1,1.88,0,0,0.00,0,0.00,0,Sporadic cases
214,Saint Pierre and Miquelon,Americas,24,414.15,0,0.00,0,0,0.00,0,0.00,0,Clusters of cases
215,Montserrat,Americas,20,400.08,2,40.01,0,1,20.00,0,0.00,0,Sporadic cases
216,Sint Eustatius,Americas,20,637.15,0,0.00,0,0,0.00,0,0.00,0,Sporadic cases
217,Anguilla,Americas,18,119.98,0,0.00,0,0,0.00,0,0.00,0,Sporadic cases
220,Saba,Americas,6,310.40,0,0.00,0,0,0.00,0,0.00,0,Sporadic cases

In [16]:
filt = df['WHO Region'] == 'Americas'
df.loc[filt, 'Name':'Cases - cumulative total']

                                   Name WHO Region  Cases - cumulative total
1              United States of America   Americas                  27433718
3                                Brazil   Americas                   9866710
11                             Colombia   Americas                   2198549
12                            Argentina   Americas                   2029057
13                               Mexico   Americas                   1995892
18                                 Peru   Americas                   1238501
22                               Canada   Americas                    826924
24                                Chile   Americas                    782039
43                               Panama   Americas                    332679
48                              Ecuador   Americas                    268073
52     Bolivia (Plurinational State of)   Americas                    237144
55                   Dominican Republic   Americas                    231095
59                           Costa Rica   Americas                    200024
68                            Guatemala   Americas                    168103
69                             Honduras   Americas                    160983
73                             Paraguay   Americas                    145095
76   Venezuela (Bolivarian Republic of)   Americas                    133577
83                          Puerto Rico   Americas                     98317
97                          El Salvador   Americas                     58023
103                             Uruguay   Americas                     49360
105                                Cuba   Americas                     39941
120                             Jamaica   Americas                     19773
127                       French Guiana   Americas                     16456
134                               Haiti   Americas                     12206
135                              Belize   Americas                     12175
140                          Guadeloupe   Americas                      9455
141                            Suriname   Americas                      8811
143                             Bahamas   Americas                      8383
145                              Guyana   Americas                      8232
146                 Trinidad and Tobago   Americas                      7646
148                               Aruba   Americas                      7438
149                          Martinique   Americas                      6593
156                           Nicaragua   Americas                      5106
160                             Curaçao   Americas                      4652
171                         Saint Lucia   Americas                      2549
172        United States Virgin Islands   Americas                      2542
174                            Barbados   Americas                      2331
177                        Sint Maarten   Americas                      2001
182            Turks and Caicos Islands   Americas                      1874
185    Saint Vincent and the Grenadines   Americas                      1457
186                        Saint Martin   Americas                      1456
191                             Bermuda   Americas                       695
196                    Saint Barthélemy   Americas                       475
197                 Antigua and Barbuda   Americas                       443
199                      Cayman Islands   Americas                       419
200                             Bonaire   Americas                       378
202              British Virgin Islands   Americas                       153
203                             Grenada   Americas                       148
205                            Dominica   Americas                       134
209         Falkland Islands (Malvinas)   Americas                        49
211               Saint Kitts and Nevis   Americas                        41
214           Saint Pierre and Miquelon   Americas                        24
215                          Montserrat   Americas                        20
216                      Sint Eustatius   Americas                        20
217                            Anguilla   Americas                        18
220                                Saba   Americas                         6

### iloc

rows, columns
index , index

In [27]:
df.iloc[1:10,1:5]

,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days
1,Americas,27433718,8288.07,600892
2,South-East Asia,10937320,792.56,78949
3,Americas,9866710,4641.86,318631
4,Europe,4112151,2817.81,99441
5,Europe,4058472,5978.36,86320
6,Europe,3429726,5254.39,125370
7,Europe,3096343,6622.52,62383
8,Europe,2739591,4531.11,84272
9,Europe,2602034,3085.21,53839

In [21]:
df.iloc[[1,10],0:5]

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days
1,United States of America,Americas,27433718,8288.07,600892
10,Germany,Europe,2350399,2805.31,50403

In [22]:
df.loc[df['WHO Region'] == 'Americas' , 'Name':'Cases - cumulative total']

                                   Name WHO Region  Cases - cumulative total
1              United States of America   Americas                  27433718
3                                Brazil   Americas                   9866710
11                             Colombia   Americas                   2198549
12                            Argentina   Americas                   2029057
13                               Mexico   Americas                   1995892
18                                 Peru   Americas                   1238501
22                               Canada   Americas                    826924
24                                Chile   Americas                    782039
43                               Panama   Americas                    332679
48                              Ecuador   Americas                    268073
52     Bolivia (Plurinational State of)   Americas                    237144
55                   Dominican Republic   Americas                    231095
59                           Costa Rica   Americas                    200024
68                            Guatemala   Americas                    168103
69                             Honduras   Americas                    160983
73                             Paraguay   Americas                    145095
76   Venezuela (Bolivarian Republic of)   Americas                    133577
83                          Puerto Rico   Americas                     98317
97                          El Salvador   Americas                     58023
103                             Uruguay   Americas                     49360
105                                Cuba   Americas                     39941
120                             Jamaica   Americas                     19773
127                       French Guiana   Americas                     16456
134                               Haiti   Americas                     12206
135                              Belize   Americas                     12175
140                          Guadeloupe   Americas                      9455
141                            Suriname   Americas                      8811
143                             Bahamas   Americas                      8383
145                              Guyana   Americas                      8232
146                 Trinidad and Tobago   Americas                      7646
148                               Aruba   Americas                      7438
149                          Martinique   Americas                      6593
156                           Nicaragua   Americas                      5106
160                             Curaçao   Americas                      4652
171                         Saint Lucia   Americas                      2549
172        United States Virgin Islands   Americas                      2542
174                            Barbados   Americas                      2331
177                        Sint Maarten   Americas                      2001
182            Turks and Caicos Islands   Americas                      1874
185    Saint Vincent and the Grenadines   Americas                      1457
186                        Saint Martin   Americas                      1456
191                             Bermuda   Americas                       695
196                    Saint Barthélemy   Americas                       475
197                 Antigua and Barbuda   Americas                       443
199                      Cayman Islands   Americas                       419
200                             Bonaire   Americas                       378
202              British Virgin Islands   Americas                       153
203                             Grenada   Americas                       148
205                            Dominica   Americas                       134
209         Falkland Islands (Malvinas)   Americas                        49
211               Saint Kitts and Nevis   Americas                        41
214           Saint Pierre and Miquelon   Americas                        24
215                          Montserrat   Americas                        20
216                      Sint Eustatius   Americas                        20
217                            Anguilla   Americas                        18
220                                Saba   Americas                         6